
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4a2c2a;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}
 .role {
    margin-bottom: 15px;
    display: flex;
    place-items: 10px;
    justify-content: space-between;
 
  }
  .vitri{
     margin-right: 5px;
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     flex-direction: column;
  }
  
label {
  display: block;
  margin-bottom: 5px;
  color: #4a2c2a;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  border-color: #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #4a2c2a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #6b403d;
}